<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Add Contacts</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>
</head>
<body bgcolor=#ffe5b4>
<center>
<br><br><br>
<form action='/data' method="GET">
Name: <input name='x'/>
<br><br>
PH No: <input name='y'/>
<br>
<input type="submit" value="Add Data">
</form>
<form action='/search'><input type="submit" value="Query"></form>
</center>
</body>
</html>
